* {
    margin: 3px;
    padding: 3px;
    box-sizing: border-box;
    font-family: gilroy, sans-serif;
}

html,
body {
    height: 100vh;
    width: 100vw;
}
.reviews-grid{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 1rem;
  width: 90%;
  margin: 1rem auto;
}
.review-card{
  padding: 1rem;
  border-radius: 1rem;
  border: 1px solid grey;
  background-color: ghostwhite;
}
.review-card h3{
  font-size: 20px;
  margin-bottom: 1rem;
}
.review-text{
  font-size: 18px;
  margin-bottom: 1rem;
}
.review-person{
  font-size: 16px;
  font-weight: 700;
}
@media(max-width:1000px){
  body{
    background-color: hotpink;
  }
}
@media(max-width:600px){
  .reviews-grid{
    grid-template-columns: 1fr;
  }
}
@media(max-width:500px){
  body{
    background-color: green;
  }
  .review-card h3{
    display: none;
  }
  .review-card{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
}